
  body {
    background-color: rgba(0, 0, 0, 0.904);
    border:8px solid rgb(112, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
  }
  
  footer {
    display: block;
    border:3px solid rgb(112, 0, 0);
    background-color: rgba(75, 63, 63, 0.336);
    text-shadow: 0 0 3px black, 0 0 5px white;
    margin-left: 10px;
    margin-right: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    display: inline-block;
    border:8px solid darkred;
    margin-left: 20px;
    margin-top: 20px;
  }

  .box:hover img{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    transition-duration: 0.3s;
  }

  .box img{
    transition-duration: 0.5s;
  }

  hr{
    color: black;
    border-color: black;
  }

  form {
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-shadow: 0 0 3px darkred, 0 0 5px #FF0000;
  }

  arvostelu {
    border:8px solid white;
    padding: 10px 25px;
    text-align: center;
    
    background-color: black;
    display: inline-block;
    font-size: 20px;
    
    margin-left: 20px;
    cursor: default;
  }

  textarea {
    border:8px solid darkred;
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0.438);
    font-size: 20px;
    margin-left: 20px;
  }

  input {
    border:8px groove white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    transition-duration: 0.5s;
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    background-color: black;
    display: inline-block;
    font-size: 20px;
    
    margin-left: 20px;
    cursor: pointer;
  }

  input:hover {
    box-shadow: 5px 12px 12px 5px rgba(0,0,0,0.24), 0 15px 15px 0 rgba(68, 2, 2, 0.856);
    border:8px groove darkred;
    background-color: rgba(0, 0, 0, 0.233);
    text-shadow: 2px 0 0 red, 0 0 20px black;
    color: black;
    transition-duration: 0.5s;
  }

  p {
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-shadow: 0 0 3px darkred, 0 0 5px #FF0000;
    
  }

  h1 {
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    color: white;
    margin-left: 10px;
    color: black;
    text-shadow: 2px 0 0 darkred, 0 0 5px black;
    font-size: 50px;
  }

  h2 {
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    color: white;
    margin-left: 10px;
    color: black;
    font-size: 40px;
    text-shadow: 2px 0 0 red, 0 0 5px black;
  }

  h3 {
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    color: white;
    margin-left: 10px;
    color: black;
    font-size: 30px;
    text-shadow: 2px 0 0 red, 0 0 5px black;
  }

  h4 {
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    color: white;
    margin-left: 10px;
    color: black;
    font-size: 20px;
    text-shadow: 2px 0 0 red, 0 0 5px black;
  }

  h5 {
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    font-size: 70px;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
  }

  a:link:hover, h5:hover {
    text-shadow: 2px 0 0 red, 0 0 20px black;
    transition-duration: 0.5s;
  }

  button {
    border:8px groove silver;
    color: silver;
    text-shadow: 0 0 3px black, 0 0 5px white;
    padding: 15px 32px;
    text-align: center;
    transition-duration: 0.5s;
    font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.521);
    display: inline-block;
    font-size: 20px;
    
    margin: 4px 2px;
    cursor: pointer;
  }

  button:hover {
    box-shadow: 5px 12px 12px 5px rgba(0,0,0,0.24), 0 15px 15px 0 rgba(68, 2, 2, 0.856);
    border:8px groove darkred;
    background-color: rgba(0, 0, 0, 0.233);
    text-shadow: 2px 0 0 red, 0 0 20px black;
    color: black;
    transition-duration: 0.5s;
  }

  .delbutton {
    border:8px ridge darkred;
    background-color: rgba(0, 0, 0, 0.233);
    text-shadow: 2px 0 0 red, 0 0 20px black;
    color: black;
    transition-duration: 0.5s;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    float:right;
    padding-right: 10px;
    border:2px solid rgb(112, 0, 0);
    margin-right: 15px;
    cursor: pointer;
  }

  .delbutton:hover {
    box-shadow: 5px 12px 12px 5px rgba(0,0,0,0.24), 0 15px 15px 0 rgba(68, 2, 2, 0.856);
    border:8px ridge darkred;
    background-color: rgba(0, 0, 0, 0.233);
    text-shadow: 2px 0 0 red, 0 0 20px black;
    color: black;
    transition-duration: 0.5s;
  }

  a:link, a:visited {
    color: black;
    text-decoration: solid;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  a:link:active, a:visited:active {
    color: black;
  }

  .box{
      position: relative;
      display: inline-block;
      transition-duration: 0.5s;
  }

  .box:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.76), 7px 7px 7px 7px rgba(0, 0, 0, 0.582);
    transition-duration: 0.5s;
  }

  .box .text{
    transition-duration: 0.5s;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black
                , 0 0 15px black, 0 0 20px black, 0 0 25px black, 0 0 50px black
                , 0 0 30px black, 0 0 35px black, 0 0 35px black, 2px 0 0 white;
    top: 10%;
    width: 60%;
  }

  .box:hover .text{
    position: absolute;
      z-index: 999;
      margin: 0 auto;
      left: 0;
      right: 0;        
      text-align: center;
      top: 10%;
      text-shadow: 2px 0 0 rgb(211, 0, 0), 0 0 5px silver, 0 0 10px silver
      , 0 0 15px black, 0 0 20px black, 0 0 25px black, 0 0 50px black
      , 0 0 30px black, 0 0 35px black, 0 0 35px black;
      color: black;
      font-family: MingLiU_HKSCS-ExtB, 'Courier New', Courier, monospace;
      transition-duration: 0.5s;
      font-size: 50px;
      outline-style: groove;
      outline: white;
      width: 60%;
  }

  .topnav {
    border:2px solid rgb(112, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(75, 63, 63, 0.336);
    overflow: hidden;
    text-shadow: 0 0 3px black, 0 0 5px white;
}

.topnav a {
  float: left;
  padding: 0px 0px;
}

.topnav h5{
  padding-right: 30px;
}

.topnav button{
  margin-top: 30px;
}

.topnav-right {
  float: right;
}
