<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/styles.css"  >
<link rel="shortcut icon" href="/favicon.ico">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% if session.username %}

<img src="/static/mainLogo.png">

<footer>
    <p> 
        Kirjautunut {{ session.username }}
        <a href="/new"> <button> Lisää tuotteita/osastoja </button> </a>
        <a href="/logout"> <button> Kirjaudu ulos </button> </a>
    </p>
</footer>

<h3>Valitse osasto !</h3>
<hr>
{% for nimi,id in osastot %}

<a href="/osasto/{{ id }}" >
<div class="box">
    <img src="/static/osastot/{{ nimi }}.jpg" alt={{nimi}} width="700px" height="361px">
    <h1 class="text">
        {{nimi}}
    </h1>
</div>
</a>

<hr>
{% endfor %}

{% else %}

<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<a href="/luoTunnus" ><button> Luo tunnus </button></a>
{% endif %}
</body>
</html>