<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/styles.css"  >
<link rel="shortcut icon" href="/favicon.ico">

</head>
<body>

{% if session.username %}

<div class="topnav">
    <a href="/" >
        <h5> The </h5>
        <h5 style="margin-left: 100px;margin-top: 0px;"> NettiStore </h5>
    </a>
    <h4 style="font-style: italic;"> 
        Kirjautunut {{ session.username }}
    </h4>
    <a href="/new"> <button> Lisää tuotteita/osastoja </button> </a>
    <a href="/logout"> <button> Kirjaudu ulos </button> </a>
    <div class="topnav-right">
      <a href="#search">Search</a>
      <a href="#about">About</a>
    </div>
  </div>

<h3>Valitse osasto !</h3>

{% for nimi,id in osastot %}

<a style="position;" href="/osasto/{{ id }}" >
<div class="box">
    <img src="/static/osastot/{{ nimi }}.jpg" alt={{nimi}} width="700px" height="361px">
    <h1 class="text">
        {{nimi}}
    </h1>
</div>
</a>


{% endfor %}

{% else %}

<h5> The </h5>
<h5 style="margin-left: 100px;margin-top: 0px;"> NettiStore </h5>

<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<a href="/luoTunnus" ><button> Luo tunnus </button></a>
{% endif %}
</body>
</html>