<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/styles.css"  >
<link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
    
<a href="/" >
    <h5> The </h5>
    <h5 style="margin-left: 100px;margin-top: 0px;"> NettiStore </h5>
</a>

<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<a href="/luoTunnus" ><button> Luo tunnus </button></a>
</body>
</html>