<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/styles.css"  >
<link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
{% if session.username %}
    <meta http-equiv="Refresh" content="0; '/'" />
{% else %}

<a href="/" >
    <h5> The </h5>
    <h5 style="margin-left: 100px;margin-top: 0px;"> NettiStore </h5>
</a>

<form action="/login" method="POST">

    Tunnus:
    <br>
    <input class="log" type="text" name="username" rows="1" required></input>
    <br>

    Salasana:
    <br>
    <input class="log" type="password" name="password" rows="1" required></input>
    <br>
    <input class="input" type="submit" value="Kirjaudu">
</form>

<a href="/luoTunnus/f" ><button> Luo tunnus </button></a>
{% endif %}
</body>
</html>