<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/styles.css"  >
</head>
<body>

<footer>
    <h5> The </h5>
    <h5 style="margin-left: 100px;margin-top: 0px;"> NettiStore </h5>
    <p> 
        Luo Käyttäjätunnus: 
    </p>
</footer>

<form action="/signIn" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="nimi"></p>
    <p>Salasana:<br>
    <input type="password" name="salasana"></p>
    <input type="submit" value="Luo Kayttajatili">
    </form>

    <a href="/"><button>Takaisin</button></a>

</body>
</html>