<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/styles.css"  >
</head>
<body>

{% if session.username %}
    
<div class="topnav">
    <a href="/" >
        <h5> The </h5>
        <h5 style="margin-left: 100px;margin-top: 0px;"> NettiStore </h5>
    </a>
    <p style="font-style: italic;"> 
        Kirjautunut {{ session.username }}
    </p>
    {% if session.super %}
    <a href="/new"> <button> Lisää tuotteita/osastoja </button> </a>
    {% endif %}
    <a href="/logout"> <button> Kirjaudu ulos </button> </a>
    <a href="/ostoskori"> <button> Ostoskori </button> </a>
    <div class="topnav-right">
      <a href="#search">Haku</a>
    </div>
  </div>

{% for nimi,kuvaus in osastot %}

<h3> {{ nimi }} </h3>
<p>{{ kuvaus }}</p>

{% endfor %}
<p>Valitse tyyppi !</p>
{% for nimi,id in tyypit %}

<a href="/tyyppi/{{ id }}" >
    <div class="box">
        <img src="/static/tyypit/{{ nimi }}.jpg" alt={{nimi}} width="400px" height="206px">
        <h1 class="text">
            {{nimi}}
        </h1>
    </div>
</a>

<hr>
{% endfor %}

{% else %}
    <meta http-equiv="Refresh" content="0; '/'" />
{% endif %}

</body>
</html>