{% extends "layout.html" %}
{% block content %}
  
  {% for tuote in tuotteet %}
  <hr>
    <h1>
        <a href="/tuote/{{ tuote[3] }}"> {{ tuote[0] }} </a>
        
        <form action="/yksiPoisto/{{tuote[3] }}" method="POST">
            <input class="delbutton" type="submit" value="Poista Korista">
        </form>
        <p> 
            Hinta: {{ tuote[2] }} $  
        </p>
    </h1>
</hr>
  {% endfor %}

  {% if summa != 0 %}
    <div style="border:2px solid rgb(112, 0, 0);margin: 10px;background-color: rgba(75, 63, 63, 0.336);padding: 5px;">
        <p style="margin: 10px;">
            Summa on {{ summa }} $
            <form action="/clearKori" method="POST">
                <input class="delbutton" type="submit" value="Tyhjennä Kori">
            </form>
        </p>
        <form action="/tilaus" method="POST">
            <input class="input" type="submit" value="Tilaa tuotteet">
        </form>
    </div>
  {% else %}
    <p>Ostoskori on tyhjä !</p>
  {% endif %}

{% endblock %}