<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/styles.css"  >
</head>
<body>

{% if session.username %}

<div class="topnav">
    <a href="/" >
        <h5> The </h5>
        <h5 style="margin-left: 100px;margin-top: 0px;"> NettiStore </h5>
    </a>
    <p style="font-style: italic;"> 
        Kirjautunut {{ session.username }}
    </p>
    {% if session.super %}
    <a href="/new"> <button> Lisää tuotteita/osastoja </button> </a>
    {% endif %}
    <a href="/logout"> <button> Kirjaudu ulos </button> </a>
    <a href="/ostoskori"> <button> Ostoskori </button> </a>
    <div class="topnav-right">
      <a href="#search">Haku</a>
    </div>
  </div>

{% for nimi,kuvaus,varastossa,hinta in tiedot %}

<img src="/static/tuotteet/{{ nimi }}.jpg" width="300" height="445">

<h1> {{ nimi }} </h1>
<p> {{ kuvaus }} </p>
<p> Hinta : {{ hinta }} $ </p>
<p> Varastossa: {{ varastossa }} kappaletta. </p>
<p> Tuotteen valmistaja: {{ tekija[0] }}. </p>

<form action="/send-Ostos/{{ t_id }}" method="POST">
    <input type="submit" value="Lisää Koriin">
    </form>

{% endfor %}

<form action="/send-Ar/{{ t_id }}" method="POST">
    <h2>Luo arvostelu:</h2>
    
    Otsikko:
    <br>
    <textarea name="otsikko" rows="1" cols="40"></textarea>
    <br>
    Arvostelu:
    <br>
    <textarea name="teksti" rows="3" cols="40"></textarea>
    <br>
    Arvosana:
    <br>
    <textarea name="arvosana" rows="1" cols="5"></textarea>
    <br>

    <input type="submit" value="Lähetä">
    </form>


<h3> Arvostelut: </h3>

{% for nimi,otsikko,teksti,arvosana,paivamaara in arvostelut %}

<arvostelu>
    <h3 > {{ otsikko }} </h3>
    <p> {{ teksti }} </p>
    <p style="background-color: white; color: black;" > Arvosana: {{ arvosana }}/10 </p>
    <p> Kirjoittanut: {{ nimi }} {{ paivamaara }} </p>
</arvostelu>

{% endfor %}


{% else %}
    <meta http-equiv="Refresh" content="0; '/'" />
{% endif %}

</body>
</html>