{% extends "layout.html" %}
{% block content %}

{% for nimi,kuvaus,varastossa,hinta,tekija_id in tiedot %}

<img style="margin-left: 5px;margin-top: 10px;" src="/static/tuotteet/{{ nimi }}.jpg" width="300" height="445">

<h1> {{ nimi }} </h1>
<p> {{ kuvaus }} </p>
<p> Hinta : {{ hinta }} $ </p>
<p> Varastossa: {{ varastossa }} kappaletta. </p>
{% if session.super %}
<div style="float: right;">
<form action="/lisaaKpl/{{ t_id }}" method="POST">
    <input type="number" name="kpl" min="0" max="1000" required>(Admin) lisää tuotteita</input>
    <input class="input" type="submit" value="Lisää">
</form>
</div>
{% endif %}
<p style="float: left;"> Tuotteen valmistaja:  </p>
<p><a href="/tekija/{{ tekija_id }}"> <h1 style="font-size: 30px;margin-top: 30px;margin-left: 230px;"> {{ tekija[0] }} </h1> </a></p>
{% if varastossa < 1 %}
    <p> Tuote on valitettavasti loppu, eikä sitä voi tilata. </p>
{% else %}
    <form action="/send-Ostos/{{ t_id }}" method="POST">
        <input class="input" type="submit" value="Lisää Koriin">
    </form>
{% endif %}

{% endfor %}

<form action="/send-Ar/{{ t_id }}" method="POST">
    <h2>Luo arvostelu:</h2>
    
    Otsikko:
    <br>
    <textarea maxlength="50" name="otsikko" rows="1" cols="40" required></textarea>
    <br>
    Arvostelu:
    <br>
    <textarea maxlength="500" name="teksti" rows="3" cols="40" required></textarea>
    <br>
    <br style="margin-bottom: 5px;">
    Arvosana:
    <input type="number" name="arvosana" min="0" max="10" required>/10</input>
    <br>
    <input class="input" type="submit" value="Lähetä">
    </form>


<h3> Arvostelut: </h3>

{% for nimi,otsikko,teksti,arvosana,paivamaara in arvostelut %}

<arvostelu>
    <h3 > {{ otsikko }} </h3>
    <p> {{ teksti }} </p>
    <p style="background-color: white; color: black;" > Arvosana: {{ arvosana }}/10 </p>
    <p> Kirjoittanut: {{ nimi }} {{ paivamaara }} </p>
</arvostelu>

{% endfor %}

{% endblock %}